
/* BUTTONS */
.button {
  background-color: rgb(103, 94, 223);
  color: white;
  font-size: 20px;
  padding: 20px 30px;
  border-radius: 20px;
  margin: 10px 10px;
}
.altButton {
  background-color: rgb(45, 70, 184);
}


/* CONTAINERS */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  background-color: rgb(128, 215, 241);
}
.userInfoContainer {
  background-color: rgb(45, 70, 184);
  color: rgb(241, 69, 69);
  font-size: 25px;
  padding: 20px 20px;
  margin:auto;
  border-radius: 20px;
}



.signup {
  background-color: rgb(241, 128, 198);
  color: white;
  font-size: 25px;
  padding: 20px 20px;
  border-radius: 20px;
}


/* View 2, 3 -  */




.question {
  font:200;
}
